each item in items

	a.ui.blurring.fluid.blue.card(href="#{item.url}")
		.image
			img(src=item.image)
		.content
			.header #{item.title}
			.meta #{item.created}
			.description
				| #{item.content_html}
		.extra.content
			| Author info here
